// About Styles
.about {
    @include center;
    padding: 0 30px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);

    h3 {
        margin-top: 20px;
        text-align: center;
        grid-row: 1;
        grid-column: span 2;
    }

    .tagline {
        font-family: 'Source Code Pro', monospace;
        font-weight: bold;
        color: navy;
    }  

    article {
        padding: 20px;
    }

    @include mq($tablet-portait) {
        display: block;

        h3 {
            font-size: 20px;
        }

        article {
            padding: 0;
        }
    }
}