// About Styles
.about {
    @include center;
    max-width: $wrapper-padding;
    padding: 0 30px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);

    .emphasize {
        font-weight: bold;
        color: navy;
    }

    h3 {
        margin-top: 20px;
        text-align: center;
        grid-row: 1;
        grid-column: span 2;
    }

    .tagline {
        font-family: 'Source Code Pro', monospace;
        font-weight: bold;
        color: navy;
    }      

    .intro {
        grid-column: 1 / span 2;
    }

    article {
        padding: 20px;        
    }

    table {
        max-width: 600px;
        @include center;
    }

    @include mq($tablet-portait) {
        display: block;

        h3 {
            font-size: 20px;
        }

        article {
            padding: 0;
        }
    }
}