main {
    .jumbotron {
        width: 80%;        
        margin: 0 20px;        
        @include center;
        margin-bottom: 20px;

        @include mq($tablet-portait) {
            padding: 3px;
            width: 100%;
        }
    }
}